################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/crMailer/v15
/obj/Debug
/.vs/crMailer/v16
/bin
/obj/x64/Debug
