<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="OUTPUT_VERBOSITY" value="NONE"/> <!-- (blank or NONE) or VERBOSE -->
    <add key="REPORT_NAME" value=".\blank.rpt"/>
    <add key="OUTPUT_PATH" value=".\output\"/>

    <!-- mail is send via SQL -->
    <add key="MAILER_PROFILE" value="Automation Services"/>
    <add key="MAILER_SERVER" value="localhost"/>
    <add key="MAILER_DATABASE" value="msdb"/>

    <!-- SQL data here -->
    <add key="REPORT_SERVER" value="mysqlserver"/>
    <add key="REPORT_DATABASE" value="mydatabase"/>
    <add key="RECIPIENTS" value="youraddress@contoso.com"/>
  </appSettings>
</configuration>