<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="OUTPUT_VERBOSITY" value="NONE"/>    <!-- (blank or NONE) or VERBOSE -->
    <add key="REPORT_NAME" value=".\blank.rpt"/>  <!-- The path to the Crystal Report. Be careful with relative paths -->
    <add key="OUTPUT_PATH" value=".\output\"/>    <!-- an interim directory to save PDF files for later attechment. Beware of file level permissions -->

    <!-- mail is sent via SQL mailer -->
    <add key="MAILER_PROFILE" value="Automation Services"/> <!-- see https://docs.microsoft.com/en-us/sql/relational-databases/database-mail/create-a-database-mail-profile?view=sql-server-ver15 -->
    <add key="MAILER_SERVER" value="localhost"/>            <!-- typically FQDN of where the mailer runs; may or may not be the same as the report data source, below -->
    <add key="MAILER_DATABASE" value="msdb"/>               <!-- unless a different stored proc is used for the mailer, this will typically always be the msdb database -->

    <!-- SQL data here -->
    <add key="REPORT_SERVER" value="mysqlserver"/>           <!-- typically a FQDN -->
    <add key="REPORT_DATABASE" value="mydatabase"/>          <!-- the name of the SQL database-->
    <add key="RECIPIENTS" value="youraddress@contoso.com"/>  <!-- a semi-colon delimited list of SMTP recipients -->
  </appSettings>
</configuration>